@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-task-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .search__input {
    outline: 0;

    &:focus {
      box-shadow: 0 0 0 2px #aedff7; /* Ripple effect */
      transition: border-color 0.7s ease-in-out;
    }
  }
}
.task-card-container {
  // min-height: 1500px;
  .task-card-description {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(161, 160, 160, 0.05);
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: rgba(23, 22, 22, 0.44);
    }
  }
  &.card-height-subtasks__expanded {
    min-height: 520px;
  }
  &.card-height-1 {
    min-height: 520px;
  }
  &.card-height-2 {
    min-height: 720px;
  }
  &.card-height-3 {
    min-height: 920px;
  }
  &.card-height-4 {
    min-height: 1120px;
  }
}

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 500;
  font-style: normal;
  color: black !important;
}

.sedan-regular__red {
  color: red;
  font-weight: bold;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}
.tooltip {
  visibility: hidden;
  width: 250px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
  }
  &.show_valid_tooltip {
    width: 80px;
  }
  &.show_done_tooltip {
    width: 100px;
  }
  &.show_importTaskTool {
    width: 180px;
    background-color: grey;
  }
  &.show_deleteTaskTool {
    width: 70px;
    background-color: rgba(23, 43, 108, 0.8);
  }
  &.showtooltip_less_than_four_groups_of_subtasks {
    width: 120px;
  }
}

.relative:hover .tooltip {
  visibility: visible;
}

// ReactModal__Content ReactModal__Content--after-open

.ReactModal__Overlay {
  &.ReactModal__Overlay--after-open {
    .ReactModal__Content {
      @include flex-center();
      flex-direction: column;
      gap: 1rem;

      .modal-btns {
        @include flex-center();
        flex-direction: row;
        gap: 1rem;
        button {
          padding: 0.2rem 1rem;
          outline: none;
          border: none;
          span {
            color: white;
            font-family: "Sedan", serif;
            font-weight: bold;
          }
        }
        button.modal-btn-yes {
          background-color: #0084a89b;
          // transition: 0.6s ease;
          &:hover {
            background-color: #0084a8c3;
          }
        }
        button.modal-btn-no {
          // transition: 0.6s ease;
          background-color: rgba(44, 41, 41, 0.2);
          &:hover {
            background-color: rgba(44, 41, 41, 0.266);
          }
        }
      }
      .task-footer__modal {
        input.change_name__input {
          outline: 0;
          &:focus {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }
      }
    }
  }
}
.expandable-input-container {
  position: relative;
}

.expanded-input {
  width: 100%;
  padding-right: 30px;
  outline: 0;
  height: 2rem;
  &:focus,
  &:hover {
    box-shadow: 0 0 0 2px #aedff745;
    transition: border-color 0.7s ease-in-out;
  }
  &:focus {
    box-shadow: 0 0 0 2px #7aa0b3;
  }
}

.expandable-checkbox {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.expanded-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  .extra__plus_btn {
    outline: none;
    background: none;
    background: rgba(186, 191, 210, 0.075);
    &:hover {
      outline: none;
      background: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
}

.react-date-picker__inputGroup__input {
  &.react-date-picker__inputGroup__day,
  &.react-date-picker__inputGroup__month {
    min-width: 35px;
    text-align: center;
  }
  &.react-date-picker__inputGroup__year {
    text-align: center;
    min-width: 55px;
  }
  .react-date-picker__inputGroup__divider {
    margin: 0 10px;
  }
}
