@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");

.task-card-container {
  .task-card-description {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(161, 160, 160, 0.05);
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
      border-radius: 10px;
      background: rgba(23, 22, 22, 0.44);
    }
  }
}

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 500;
  font-style: normal;
  color: black !important;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}
.tooltip {
  visibility: hidden;
  width: 250px;
  margin-bottom: 2px;
  &.show_valid_tooltip {
    width: 80px;
  }
  &.show_done_tooltip {
    width: 100px;
  }
}

.relative:hover .tooltip {
  visibility: visible;
}
